@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variáveis de tema / fonte (use :root, não @theme) */
:root {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, -apple-system,
        "Segoe UI", "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}
